<div class='row'>
  <product
    class='small-6 large-4 columns'
    [product]='{
      name: "reaaaaaaaaaaaallly long",
      description: "short"
    }'
    [cartEntry]='{ quantity: 0 }'
  >
  </product>

  <product
    class='small-6 large-4 columns'
    [product]='{
      name: "some product",
      description: "it is really great"
    }'
    [cartEntry]='{ quantity: 5 }'
  >
  </product>

  <product
    class='small-6 large-4 columns'
    [product]='{
      name: "some product",
      description: "it is really great"
    }'
    [cartEntry]='{ pending: true }'
  >
  </product>

  <product
    class='small-6 large-4 columns'
    [product]='{
      name: "some product",
      description: "it is really great"
    }'
    [cartEntry]='{ quantity: 5, pending: true }'
  >
  </product>

  <product
    class='small-6 large-4 columns'
    [product]='{
      name: "some product",
      description: "it is really great"
    }'
    [cartEntry]='{ quantity: 5} '
    [error]='{ message: "out of stock" }'
  >
  </product>
</div>
